* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--font-default);
    }

:root {
    /* color */
    --main-clr: #ce1212;
    --second-clr: #212529;
    --third-clr: #37373f;
    --fourth-clr: #7f7f90;
    /* background-color */
    --main-bg: #fff;
    --second-bg: #eee;
    /* fonts */
    --font-default: system-ui;
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;

}

h2.section-title {
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 400;
    color: var(--fourth-clr);
}

p.section-description {
    font-family: var(--font-primary);
    font-size: 50px;
    color: var(--second-clr);
}

span.main-clr {
    color: var(--main-clr);
}

/* nav-section */

nav {
    position: fixed;
    width: 100%;
    background-color: var(--main-bg);
    box-shadow: 0px 0px 14px 0px #0000001b;
    justify-content: center;
    z-index: 100;
}

nav .container {
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
}

nav .logo {
    width: auto;
}

nav .logo a {
    color: var(--second-clr);
    font-size: 30px;
}

nav .logo h1 {
    position: relative;
}

nav .logo h1::after {
    content: "";
    background-color: var(--main-clr);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 65%;
    border-radius: 50%;

}

nav .links {
    font-size: 17px;
    font-weight: 600;
}

nav .dark-mode-btn {
    width: auto;
}

nav .links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav .links .item {
    margin: 5px 15px;
    position: relative;

}

nav .links li a {
    color: var(--fourth-clr);
    position: relative;
}

nav .links li a:hover {
    color: #000;
}

nav .links a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: var(--main-clr);
    transition: width 0.3s;
}

nav .nav-items a:hover::before {
    width: 100%;
}

body:has(.home:target) nav .links li a.home-link {
    color: #000;
}

body:has(.home:target) nav .links li a.home-link::before {
    width: 100%;
}

body:has(.chefs:target) nav .links li a.chefs-link {
    color: #000;
}

body:has(.chefs:target) nav .links li a.chefs-link::before {
    width: 100%;
}

body:has(.gallery:target) nav .links li a.gallery-link {
    color: #000;
}

body:has(.gallery:target) nav .links li a.gallery-link::before {
    width: 100%;
}

body:has(.contact:target) nav .links li a.contact-link {
    color: #000;
}

body:has(.contact:target) nav .links li a.contact-link::before {
    width: 100%;
}


nav .dark-mode-btn i,nav .light-mode-btn i {
    font-size: 25px;
    font-weight: 900;
    color: var(--second-clr);
    
}
nav .light-mode-btn i {
    display: none;
}

/* home section */

.home {
    height: 100vh;
    background-color: var(--second-bg);
    display: flex;
    align-items: center;
    justify-content: center;

}

.home .container {
    margin-top: 100px;
}

.home .home-content {
    width: 40%;
}

.home .home-image {
    width: 40%;
}

.home .home-image img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}

.home h2 {
    font-family: var(--font-primary);
    font-size: 65px;
    color: #37373F;
}

.home p {
    font-family: var(--font-default);
    font-size: 16px;
    line-height: 25.6px;
    color: #4F4F5A;
    margin: 20px 0 40px;
}

.btn-group {
    display: flex;
    align-items: center;

}

.home .btn-main {
    font-size: 15px;
    background-color: var(--main-clr);
    color: #fff;
    text-decoration: none;
    padding: 0.625rem 1.5625rem;
    box-sizing: border-box;
    border-radius: 0 100vh 100vh 100vh;
}

.home .video-btn {
    position: relative;
    text-decoration: none;
    height: 20px;
    color: #212529;
    padding: 10px 25px;
    margin-left: 20px;
    font-weight: 600;
    transition: .4s;
}

.home .video-btn:hover {
    color: var(--main-clr);
}

.home .video-btn:hover .icon {
    color: var(--main-clr);
}

.icon {
    color: #212529;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to right, var(--main-clr) 0 50%, transparent 50% 100%);
    transition: .4s;

}

.icon::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.icon i {
    z-index: 2;
}

.video-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* chefs section */
.chefs {
    display: flex;
    justify-content: center;
}

.chefs .container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3.125rem;
    padding: 2.5rem 0.3125rem;
}

.chefs .container .chefs-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5625rem;
}

.chefs .container .chefs-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chefs .container .chefs-card {
    width: 31%;
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: .3s;
}

.chefs .container .chefs-card:hover {
scale: 1.1;}

.chefs-card picture {
    position: relative;
}

.chefs-card picture::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 3.75rem;
}

.chefs .container .chefs-card img {
    width: 100%;
}

.chefs .container .chefs-card .card-content {
    padding: 1.5625rem;
    padding-top: 0.625rem;
}

.chefs .container .chefs-card h3 {
    font-family: var(--font-secondary);
    font-size: 18.72px;
    font-weight: 700;
    color: var(--second-clr);
}

.chefs .container .chefs-card span {
    font-family: var(--font-default);
    font-size: 14px;
    font-weight: 400;
    color: var(--fourth-clr);
    display: inline-block;
    margin: 5px 0 10px;
}

.chefs .container .chefs-card p {
    font-family: var(--font-default);
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: var(--fourth-clr);
}

/* gallery section */

.gallery {
    width: 100%;
    background-color: var(--second-bg);
    display: flex;
    justify-content: center;
}

.gallery .container {
    flex-wrap: wrap;
    margin: 3.125rem;
    padding: 2.5rem 0.3125rem;
}

.gallery .gallery-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5625rem;
}


.gallery-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 1000px;
    justify-content: flex-start;
    gap: 1%;
}

.gallery-items .item {
    display: flex;
    width: 33%;
    overflow: hidden;
}
.gallery-items .item picture:hover {
scale: 1.1;}

.gallery-items picture {
    border: 4px solid #fff;
}

.gallery-items picture img {
    width: 100%;
}

/* contact section  */

.contact {
    width: 100%;
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
}

.contact .container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.contact .contact-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5625rem;

}

.contact iframe {
    width: 100%;
    height: 21.875rem;
    margin-bottom: 30px;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-content .contact-icon {
    width: 50px;
    height: 50px;
    padding: 25px;
    box-sizing: border-box;
    background-color: var(--main-clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.contact-content .contact-icon i {
    color: #eee;
    font-size: 1.125rem;
}

.contact-content .item-cont {
    width: 44%;
    display: flex;
    align-items: center;
    padding: 1.5625rem;
    background-color: var(--second-bg);
    margin-bottom: 1%;
    box-sizing: border-box;
}

.contact-content h3 {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: #7d7d7d;
    margin-bottom: 5px;
}

.contact-content p {
    font-family: var(--font-default);
    font-size: 16px;
    box-sizing:border-box
}

.contact form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 1.875rem #00000014;
    margin-top: 15px;
}

.contact form input,
textarea {
    transition: .5s;
}

.contact form input:focus,
textarea:focus {
    border: solid 2px var(--main-clr);
    border-radius: 0;
    outline: none;

}

.contact .in50 {
    width: 45.5%;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    border: 2px solid #E8E3E3;
    color: #212529;
}

.contact .in100 {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    border: 2px solid #E8E3E3;
    color: #212529;
}

textarea {
    width: 100%;
    height: 10vh;
    min-height: 9.375rem;
    max-height: 18.75rem;
    line-height: 1.5;
    border: 2px solid #E8E3E3;
    color: #212529;
    padding: 15px;
    font-family: inherit;
}

.contact .btn-main {
    background-color: var(--main-clr);
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 50vh;
    color: #fff;
    margin: 25px auto 0 auto;
    cursor: pointer;
    transition: .3s;
}
.contact .btn-main:hover {
    background-color:#de1213 ;
  
}

/* footer section */
footer {
    color: #fff;
    background-image: linear-gradient(#0009, #0009), url(../images/textured-metal-background.jpg);
    color: #fff;
    box-shadow: 0px -1px 5px #0007;
    background-size: contain;
    display: flex;justify-content: center;
    overflow: hidden;
}

footer .container {
    column-gap: 10px;
    justify-content: space-between;
    align-items: flex-start;

}

footer .about {
    width: 23.5%;
    align-items: flex-start;

}

footer .about div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .about div h2 {
    font-size: 30px;
    margin-left: 10px;
}

footer .about div h2 span {
    color: var(--main-clr);
}

footer img {
    width: 2.5rem;
    height: 2.5rem;
}

footer .social-links {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

footer .social-links li {
    list-style: none;
}

footer .social-links li a {
    font-size: 1.5rem;
    color: #fff;
}

footer hr {
    margin: 15px 0;
}

footer .about h3 {
    text-align: center;
    margin-top: 15px;
}

footer .subscription {
    width: 47%;
    align-items: flex-start;
}

.subscription-box p {
    margin: 7px 0;
}

footer .contact-details {
    width: 23.5%;
}

.subscription-group {
    width: 100%;
    display: flex;
    gap: 5px;

}

.subscription-group input {
    padding: 10px;
    flex-grow: 1;
    outline: none;
    margin: 10px 0;
}

.subscription-group button {
    padding: 10px;
    background-color: var(--main-clr);
    border: none;
    color: #fff;
    font-size: 15px;
    margin: 10px 0;

}

.quick-links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.quick-links ul li {
    position: relative;
    margin: 5px;
    margin-left: 15px;
    width: 44%;
    font-family: var(--font-default);
}

.quick-links ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-top: #fff solid 2px;
    border-right: #fff solid 2px;
    position: absolute;
    rotate: 45deg;
    left: -15px;
    top: 35%;
}

.contact-details ul li {
    list-style: none;
    margin-top: 10px;
    display: flex;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
}

.contact-details h3 {
    margin-bottom: 10px;
}

.contact-details span {
    display: inline-block;
    width: 75%;
}

.contact-details a {
    text-decoration: none;
    color: #fff;
}

.contact-details i {
    color: var(--main-clr);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    cursor: pointer;
}